.wrapper {
	width: 100%;
	margin: 0 auto;
}

body {
	border-bottom: 1px solid black;
	background: #eee;
	padding:10px;
	font-family: arial;
}

#top {
	height: 63px;
	border-bottom: 1px solid black;
}

#nav {
		border-bottom: 1px solid black;
}

#links li{
	display: block;
	float: left;
	margin: 5px;
	background: #80CC99;
	color: white;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #66C285;
	text-transform: lowercase;
	text-align: center;
}

#links li:hover {
	background: linear-gradient(#80CC99, #005C1F);

}

#links a {
	color: white;
	text-decoration: none;
}

ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#hello {
	margin:0 0 0 5px;
}

li #firstlink{
	margin-left: 0px;
}

#lastlink {
	margin-right: 0px;
}

#main {
	width: 100%;
	max-width: 960px;
	margin: 10px auto;
	background: #80CC99;
	color: white;
	text-align: center;
	border: 1px solid #66C285;
	padding: 5px;
}

#welcome {
	margin: 0;
	font-size: 32px;
}

#maintag {
	margin: 0;
}

footer {
	font-size: 12px;
	color: #777;
	text-align: center;