.wrapper {
	width: 100%;
	margin: 0 auto;
}

body {
	font-family: arial;
}
html { 
  background: url('unit1_projects/images/foggy_sf.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#top {
	border-bottom: 1px solid black;
	padding: 13px 13px 0 13px;
	background: #4D4D4D;
	top: 0;
	height:52px;
}

#nav {
	border-bottom: 1px solid black;
}

#links {
	overflow: auto;
	white-space: nowrap;
	width: 15%;
	float:left;
	margin: 0px auto 0px auto;
	padding-top: 5px;
	font-size: 12px;
	border-bottom: 1px solid white;
	position:absolute;
	bottom:0;
	top:66px;
}

.cluster {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	list-style-type: none;
	border-left: none;
}

#links a{
	display: block;
/*	float: left;*/
	margin: 5px;
/*	background-color: #A2A099;*/
	background:rgba(0%, 0%, 0%, .6);
	color: white;
/*	border-radius: 30px 0px 0px 0px;*/
/*	border: 1px solid #66C285;*/
	text-transform: lowercase;
	text-align: center;
	padding: 2px;
	/*max-width: 150px;*/
	position:relative;
	bottom:0px;
    transition: all .2s;
}

.weeks {
	display: block;
/*	float: left;*/
	margin: 5px;
	background:rgba(255,255,255, .8);
	color: black;
/*	border-radius: 0px 0px 0px 30px;*/
/*	border: 1px solid white;*/
	text-transform: lowercase;
	text-align: center;
	padding: 2px;
  /*  max-width: 150px;*/
    transition: all 4s ease;
}


#links a:hover {
	background:rgba(255,255,255, 0);
	box-shadow: 2px 2px 2px black;
/*	position:relative;
	bottom:2px;*/
/*    min-width: 100px;*/
}

.weeks:hover {
/*	background-color: #777;*/
/*	width: 20px;*/
}

#external img {
	height: 40px;
	position:relative;
	bottom:0px;
	transition: all .2s;
/*	position: relative;
	top: 10px;
	right:50px;*/
}

#external {
	float:right;
/*	max-width: 50px;*/
}

#external img:hover {
	position:relative;
	bottom:4px;
}

#links:visited {
	background: white;
	color: green;
}

#links a {
	color: white;
	text-decoration: none;
}

ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#hello {
	margin:0 0 10px 5px;
	color: white;
	font-weight:normal;
	text-shadow: 3px 3px 7px black;
	display:inline;
	position: relative;
	top: 5px;
}

.banda:before, .banda:after {
    font-family: arial,serif;
    content: "\00d7";  /* Some fancy character */
    color: white;
}
.banda:before {
    margin-right: 10px;
}
.banda:after {
    margin-left: 10px;
}


li #firstlink{
	margin-left: 0px;
}

#lastlink {
	margin-right: 0px;
}


#main {
	width: 65%;
	margin: 0;
	color: white;
	text-align: center;
	padding: 1%;
	font-size: 14px;
	overflow-y: auto;
	position:absolute;
	bottom:0;
	top:66px;
	left:19%;
	z-index: -1;
}

#words {
	padding: 4%;
	max-width: 700px;
	margin:0 auto;
	background:rgba(255,255,255, .8);
/*	min-height: 100%;*/
	text-align: left;
	color:black;
	border-radius: 3px;
}

#about {
	width: 65%;
	color: white;
/*	max-width: 940px;*/
	background:#3D3D46;
	margin: 0 0 0 15.5%;
	padding: 1%;
/*	height: 165px;*/
}

p {
	margin: 0;
}

#left {
	width: 65%;
	font-size: 30px;
	margin: 1%;
	border-bottom: 1px solid #7575A3;
	padding-bottom: 1%;
	display: inline-block;
	vertical-align: bottom;
	transition: all 2s ease;
}

#left:hover {
	color: #7575A3;
}

#right {
/*	float: right;*/
	display: inline-block;
	width: 29%;
	font-size: 12px;
	margin: 1%;
	text-align: right;
	border-bottom: 1px solid #7575A3;
	padding-bottom: 1%;
	vertical-align: bottom;
	transition: all 2s ease;
}

#right:hover {
	color: #7575A3;
}


#welcome {
	margin: 0;
	font-size: 2em;
	text-shadow: 3px 3px 7px black;
}

#maintag {
	margin: 0;
}

footer {
	font-size: .75em;
	color: #777;
	text-align: center;
	max-width: 940px;
	margin: 10px auto;
}

#pics {
	width: 65%;
/*	max-width: 940px;*/
	text-align: center;
	margin:0px auto 10px auto;
/*	border: 1px solid #66C285;*/
	padding: 1%;
	background: #C2E7CE;
}


.images {
	border: 1px solid #66C285;
	margin: 1% 2%;
	max-height: 250px;
	vertical-align: middle;
}

#quicklinks {
	width: 10%;
	text-align: center;
	font-size: 12px;
	float:left;
	position:relative;
	top:70px;
	left: 85%;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	box-shadow: 3px 3px 5px black;
}



#quicklinks li {
	font-weight: bold;
	padding: 10%;
/*	border-top:1px solid #eee;*/
	color: white;
	text-shadow: 2px 2px 2px black;
	background-color:rgba(255,255,255,0.5);
	box-shadow: none;
	transition: all .2s;

}

#quicklinks li:hover{
		background-color:rgba(0,0,255,0);
		box-shadow: 2px 2px 2px black;
}

.code {
	text-align: left;
	background: #eee;
	border-radius: 15px;
	font-family: times;
	max-width: 500px;
	padding:15px;	
	margin: 20px auto 20px auto;
	overflow: auto;
	white-space: nowrap;
}

.code > span {
	display: block;
}

.output {
	text-align: left;
	background: #eee;
	border-radius: 15px;
	font-family: times;
	max-width: 500px;
	padding:15px;
	color: blue;
	margin: 20px auto 20px auto;
	overflow: auto;
	white-space: nowrap;
}

@media screen and (max-width: 560px) {

	#main {
		top: 97px;
	}
	.change {
		display: none;
	}

	#hello {
		text-align: center;
		font-weight: normal;
		position:relative;
		bottom: 20px;
	}

	.banda:before, .banda:after {
    font-family: arial,serif;
    content: "";  /* Some fancy character */
    color: #666633;
	}

	#top {
		text-align: center;
	}

	#links {
		top:97px;
	}

	#links li {
	font-size: 12px;
	}

	#external img {
	height: 25px;
	right:-10px;
	}	

	#external {
/*margin-left: 20px;*/
	margin: 5px;
	float:none;
	text-align: center;
}


	#right {
		display: inline;
		text-align: center;
	}

	#left {
		width: 100%;
		text-align: center;
		font-size: 20px;
	}

	.weeks {
/*		display: none;*/
	}
}