.wrapper {
	width: 100%;
	margin: 0 auto;
}

body {
	border-bottom: 1px solid black;
	background: #eee;
	font-family: arial;
	display: inline;
	height:100px;
}

#top {
/*	min-height: 80px;*/
	border-bottom: 1px solid black;
	padding: 1% 1% 0 1%;
	background: #eee;
	width: 95%;
	top: 0;
	opacity:.9;
}

#nav {
	border-bottom: 1px solid black;
}

#links {
	overflow: auto;
	white-space: nowrap;
	width: 15%;
	max-height:603px;
	float:left;
	margin: 10px auto 0px auto;
	font-size: 12px;
	border-bottom: 1px solid white;
}

.cluster {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	list-style-type: none;
	border: 1px solid white;
	border-left: none;
	background: white;
}

#links a{
	display: block;
/*	float: left;*/
	margin: 5px;
	background-color: #80CC99;
	color: white;
/*	border-radius: 30px 0px 0px 0px;*/
	border: 1px solid #66C285;
	text-transform: lowercase;
	text-align: center;
	padding: 2px;
	/*max-width: 150px;*/
    transition: all 1s ease;
}

.weeks {
	display: block;
/*	float: left;*/
	margin: 5px;
	background-color: white;
	color: black;
/*	border-radius: 0px 0px 0px 30px;*/
	border: 1px solid white;
	text-transform: lowercase;
	text-align: center;
	padding: 2px;
  /*  max-width: 150px;*/
    transition: all 1s ease;
}


#links a:hover {
	background-color: #005C1F;
/*    min-width: 100px;*/
}

.weeks:hover {
/*	background-color: #777;*/
/*	width: 20px;*/
}

#external img {
	height: 50px;
	opacity: .5;
	transition: opacity 1s;
	position: relative;
	top: 10px;
	right:50px;
}

#external {
	float:right;
	max-width: 50px;
}

#external img:hover {
	opacity: 1;
}

#links:visited {
	background: white;
	color: green;
}

#links a {
	color: white;
	text-decoration: none;
}

ol {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#hello {
	margin:0 0 0 5px;
}

.banda:before, .banda:after {
    font-family: arial,serif;
    content: "\00d7";  /* Some fancy character */
    color: #666633;
}
.banda:before {
    margin-right: 10px;
}
.banda:after {
    margin-left: 10px;
}


li #firstlink{
	margin-left: 0px;
}

#lastlink {
	margin-right: 0px;
}

#main {
	width: 65%;
/*	max-width: 940px;*/
	margin: 10px auto 0px auto;
	background: #80CC99;
	color: white;
	text-align: center;
	border-bottom: 1px solid #66C285;
	padding: 1%;
}

#about {
	width: 65%;
	color: white;
/*	max-width: 940px;*/
	background:#3D3D46;
	margin: 0 auto 10px auto;
	padding: 1%;
/*	height: 165px;*/
}

p {
	margin: 0;
}

#left {
	width: 65%;
	font-size: 30px;
	margin: 1%;
	border-bottom: 1px solid #7575A3;
	padding-bottom: 1%;
	display: inline-block;
	vertical-align: bottom;
	transition: all 2s ease;
}

#left:hover {
	color: #7575A3;
}

#right {
/*	float: right;*/
	display: inline-block;
	width: 29%;
	font-size: 12px;
	margin: 1%;
	text-align: right;
	border-bottom: 1px solid #7575A3;
	padding-bottom: 1%;
	vertical-align: bottom;
	transition: all 2s ease;
}

#right:hover {
	color: #7575A3;
}


#welcome {
	margin: 0;
	font-size: 2em;
}

#maintag {
	margin: 0;
}

footer {
	font-size: .75em;
	color: #777;
	text-align: center;
	max-width: 940px;
	margin: 10px auto;
}

#pics {
	width: 65%;
/*	max-width: 940px;*/
	text-align: center;
	margin:0px auto 10px auto;
/*	border: 1px solid #66C285;*/
	padding: 1%;
	background: #C2E7CE;
}


.images {
	border: 1px solid #66C285;
	margin: 1% 2%;
	max-height: 250px;
	vertical-align: middle;
}




@media screen and (max-width: 400px) {
	.change {
		display: none;
	}

	#hello {
		text-align: center;
	}

	.banda:before, .banda:after {
    font-family: arial,serif;
    content: "";  /* Some fancy character */
    color: #666633;
	}

	#links li {
	font-size: 12px;
	}

	#external img {
	height: 25px;
	right:-10px;
	}	

	#external {
/*margin-left: 20px;*/
}


	#right {
		display: inline;
		text-align: center;
	}

	#left {
		width: 100%;
		text-align: center;
		font-size: 20px;
	}

	.weeks {
/*		display: none;*/
	}
}